toggleSlave=${SLAVE_ACTIVE}
topicName=${BROKER_TOPIC_NAME}
connection=enabled
brokerURL=${BROKER_URL}
durable=true
xbeanURL=./broker.xml
toggleMaster=${MASTER_ACTIVE}
embeddedBroker=disabled
CLUSTER_CONFIG_DIR=${CLUSTER_CONFIG_DIR}
embeddedBrokerProperties=embedded-broker.properties
connection.retry=10
readOnly=disabled
group=${BROKER_GROUP}
connection.maxwait=500